h1
{
    color:blueviolet;
    font-size: 2.2rem;
}

body
{
    text-align: center;
    background-color: lawngreen;
    font-family: Arial, Helvetica, sans-serif;
}


table
{
    margin-left: auto;
    margin-right: auto;
}

table#matrixInputSecond 
{
    margin-left: 1.4rem;

}

input
{
    text-align: center;
    border: 2px solid royalblue;
}

#inputMatrixFirstDisplay:focus
{
    background-color: gold;
}


button:active
{
    background-color: orchid;
}
textarea
{ 
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid magenta;  
}

.resultMatrix
{
  visibility: hidden; 
  color:red;
  font-size: 1.7rem;
  font-weight: bolder; 
  text-decoration: underline;
  text-decoration-color: blue;
}


.matrixSizeInput
{
    font-weight: bold;
    outline-width: 0;
    background-color:aqua;
    text-align: center;
    margin-bottom: 1.1rem;
    width: 60px;
    height: 30px;
}


.matrixSizeInput:focus
{
    background-color: gold;
    border: 2px solid blue;
    outline-width: 0;
    
}

.selectDimension
{
    font-weight: bold;
    font-size: 1.05rem;
    margin: 2rem;
}

#secondMatrixCheckbox
{
    font-weight: bold;
    font-size: 1.05rem;  
    margin-left: 1rem;
    border: 3.5px dotted skyblue;
    background-color:orange;  
    color:black;
    
}

button
{
    font-weight: 550;
}

#singleMatrixButtons
{
    margin-bottom: 0.7rem;
}
